* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.dash_container {
  display: flex;
}
.dash_left {
  border-right: 0.5px solid #8b909a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  width: 20%;
}
.dash_left_title {
  padding: 20px 14px 20px 0px;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.dash_link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 9px 16px;

  border-radius: 6px;
  cursor: pointer;
}
.dash_link p {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #8b909a;
}
.dash_link img {
  width: 22px;
  height: 22px;
  filter: invert(68%) sepia(12%) saturate(237%) hue-rotate(181deg)
    brightness(82%) contrast(87%);
}
.dash_link_active {
  background-color: #f3f4f8;
}
.dash_link_active p {
  color: #23272e;
  font-weight: 600;
}
.dash_link_active img {
  filter: invert(11%) sepia(15%) saturate(685%) hue-rotate(179deg)
    brightness(100%) contrast(90%);
}
.dash_right {
  width: 80%;
  padding: 2rem;
}
.head_f {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head_f h3 {
  font-size: 20px;
  font-weight: 600;
}
.head_icons {
  display: flex;
  align-items: center;
  gap: 24px;
}
.bell_icon img {
  width: 26px;
  height: 26px;
}
.bell_icon {
  position: relative;
  cursor: pointer;
}
.bell_not {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ea5455;
  top: 0;
  right: 0;
  border-radius: 50%;
  transform: translate(25%, -25%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #fff;
}
.avatar_icon {
  width: 38px;
  height: 38px;
}

.head_s {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.search_input {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search_input input {
  border: none;
  padding: 5px;
  color: #8b909a;
}
.search_input input:focus {
  outline: none;
  /* border-bottom: 1px solid #8b909a; */
}
.search_input img {
  width: 14px;
  height: 14px;
}
.head_ranges {
  display: flex;
  gap: 20px;
}
.head_range_div {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #8b909a;
  font-size: 14px;
}

.head_calendar {
  display: flex;
  /* min-width: 30vw; */
  gap: 20px;
}
.head_calendar_div {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #8b909a;
  font-size: 14px;
}
.calendar_arrow {
  width: 17.5px;
}

.head_btns {
  display: flex;
  gap: 15px;
}
.scann_btn {
  background-color: #dbdade;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.filter_btn {
  display: flex;
  color: #fff;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  gap: 8px;
  cursor: pointer;
  background-color: #a6c771;
}
.dash_body {
  margin: 2rem 0;
  display: flex;
}
.dash_body_left {
  width: 70%;
}
.dash_stat_container {
  display: flex;
  flex-direction: column;
}
.dash_stat_arrow {
  align-self: flex-end;
  display: flex;
  gap: 10px;
}
.dash_stat_arrow p {
  font-size: 13px;
  font-weight: 500;
}
.dash_stats {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.stat_img1 {
  background-color: #fa5a7d;
  width: fit-content;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.stat_img2 {
  background-color: #bf83ff;
  width: fit-content;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.stat_img3 {
  background-color: #ff947a;
  width: fit-content;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.dash_stat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  gap: 10px;
}

.dash_stat p {
  color: #23272e;
  font-size: 15px;
  font-weight: 600;
}
.dash_stat h3 {
  color: #23272e;
  font-size: 40px;
  font-weight: 400;
}
.stat_info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.stat_info p {
  font-size: 12px;
  font-weight: 400;
  color: #23272e;
}
.stat_info span {
  font-size: 12px;
  font-weight: 400;
  color: #a6c771;
}
.dash_chart {
  width: 100%;
}

.chart_info {
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
}
.chart_buttons {
  display: flex;
  gap: 1rem;
}
.chart_button h3 {
  font-size: 13px;
  color: #23272e;
  font-weight: 700;
}
.chart_button p {
  font-size: 14px;
  color: #8b909a;
  font-weight: 500;
}
.chart_buttons_active {
  border-bottom: 3px solid #a6c771;
}
.dash_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dash_bottom_l {
  margin: 1rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dash_bottom_icons {
  position: relative;
}
.dash_bottom_icon {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
}
.half_circle {
  width: 114%;
  height: 114%;
  border-radius: 50%;
  position: absolute;
  rotate: 120deg;
}
.half_circle_m {
  border-top: 2px solid #6463d6;
}
.half_circle_g {
  border-top: 2px solid #f99c30;
}
.half_circle_f {
  border-top: 2px solid #2fbfde;
}
.half_circle_v {
  border-top: 2px solid #2fbfde;
}
.dash_bottom_m {
  background-color: #6463d6;
  width: 75.58px;
  height: 75.58px;
  transform: translate(125%, 25%);
  z-index: 4;
}
.dash_bottom_g {
  background-color: #f99c30;
  width: 130.59px;
  height: 130.59px;
  transform: translate(100%, -25%);
  z-index: 1;
}
.dash_bottom_f {
  background-color: #2fbfde;
  width: 91.91px;
  height: 91.91px;
  transform: translate(85%, -100%);
  z-index: 2;
}

.dash_bottom_v {
  background-color: #2fbfde;
  width: 73.7px;
  height: 73.7px;
  transform: translate(220%, -200%);
  z-index: 3;
}

.dash_bottom_r {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.dash_bottom_item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.dash_bottom_p {
  position: relative;
}
.dash_bottom_p p {
  font-weight: 400;
  font-size: 12;
  color: #1c1c1c;
}
.dash_bottom_p_cile {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 50%;
  translate: -200% -50%;
}
.dash_bottom_p_cile_d {
  background-color: #1c1c1c;
}
.dash_bottom_p_cile_g {
  background-color: #bbbbbb;
}
.dash_bottom_p_cile_green {
  background-color: #84a74b;
}

.dash_postal_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.dash_postal_cont h3 {
  font-weight: 600;
  font-size: 15px;
  color: #23272e;
}
.dash_costal_codes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  row-gap: 0.5rem;
}
.dash_postal_code {
  position: relative;
}
.postal_icon {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translate(-150%, -50%);
}
.pi_1 {
  background-color: #ffc600;
}
.pi_6 {
  background-color: #42ff00;
}
.pi_2 {
  background-color: #ff0f00;
}
.pi_7 {
  background-color: #00b2ff;
}
.pi_3 {
  background-color: #ccff00;
}
.pi_8 {
  background-color: #7000ff;
}
.pi_4 {
  background-color: #00ffe0;
}
.pi_9 {
  background-color: #00ffe0;
}
.pi_5 {
  background-color: #ff00d6;
}
.pi_10 {
  background-color: #fff855;
}
